@model WebApp1.Data.Entities.Event

@{
    ViewData["Title"] = "Event Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="details-page">
    <h1>@Model.Title</h1>
    <div class="event-details">
        <p><strong>Description:</strong> @Model.Description</p>
        @* <p><strong>Date:</strong> @Model.Date.ToString("MM dd, yyyy")</p> *@
        <p><strong>Time:</strong> @Model.Time</p>
        <p><strong>Location:</strong> @Model.Location</p>
    </div>
    <div class="back-to-events-btn">
        <a href="/Events" class="back-to-events-btn">Back to Events</a> <!-- Back button to events page -->
    </div>
</div>

